app-module-list{
    display: block;
    background-color: hsl(var(--hue), 100%, 60%);
}

app-base-form{
    display: block;
    margin-top: 3em;
    background-color: hsl(var(--hue), 100%, 60%);
    width: 100%;
    height: 25em;
    border:1px solid black;
    border-radius: 10px;
}